@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";


.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .upcomingMovieWrapper {
    width: 100%;
    height: 100%;

    background-color: $gray;

    .upcomingMovie {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 92vh;

      img {
        width: 95%;
        height: 100%;

        transition: filter 0.5s;
        filter: blur(0px);
      }

      .description {
        position: absolute;

        display: flex;
        flex-direction: column;
        width: 95%;
        height: 100%;

        .overlay {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;

          .overview {
            padding: 20px;
            text-align: center;

            width: 80%;
            height: auto;

            font-size: 25px;

            a {
              color: $white;

              cursor: pointer;
            }
          }

          .trailer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80%;
          }

          .list {
            width: 30%;
            height: 10%;

            ul {
              display: flex;
              justify-content: space-around;
              align-items: center;

              li {
                font-size: 25px;
                color: $white;
                list-style: none;
              }
            }
          }
        }
      }

      &:hover {
        img {
          transition: filter 0.6s;
          filter: blur(2px);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    .upcomingMovieWrapper {
      .upcomingMovie {
        img {
          width: 100%;
        }

        .description {
          .overlay {
            .overview {
              padding: 10px;
              width: 100%;
              font-size: 23px;
            }

            .trailer {
              height: 60%;
            }

            .list {
              width: 100%;
              height: 30%;

              ul {
                li {
                  font-size: 20px;
                }
              }
            }
          }
        }

        &:hover {
          img {
            filter: blur(10px);
          }
        }
      }
    }
  }
}




